{% extends 'admin/baseAdmin.html.twig' %}

{% block section %}
<section class="section">
    <div class="container-fluid">
        <div class="card-style mb-30">
            <h4 class="mb-4">Edit Promo Code</h4>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="mb-3">
                {{ form_label(form.code_promo, 'Code') }}
                {{ form_widget(form.code_promo, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.code_promo) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.pourcentage, 'Discount (%)') }}
                {{ form_widget(form.pourcentage, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.pourcentage) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.dateExpiration, 'Expiration Date') }}
                {{ form_widget(form.dateExpiration, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.dateExpiration) }}
            </div>

            <button type="submit" class="btn btn-success">Update</button>
            <a href="{{ path('aya_admin_code_promo_index') }}" class="btn btn-secondary">Cancel</a>

            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
