{% extends 'base.html.twig' %}
{% block title %}Edit Booking{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/eventform.css') }}">
{% endblock %}
{% block content %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('{{ asset('images/eventspage9.jpg') }}');">
        <div class="overlay"></div>
        <div class="fh5co-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>My Bookings</h1>
                            <h2>You can now create your events here freely.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Section Title + Back Button -->
    <div class="title-wrapper pt-30">
    <div class="title-bar">
        <div class="title">
            <h2>Edit Booking</h2>
        </div>
        <a href="{{ path('booking_list') }}" class="main-btn dark-btn-outline btn-hover px-4 py-2">Back to list</a>
    </div>
</div>
    {{ include('booking/formBooking.html.twig', {'button_label': 'Update'}) }}
{% endblock %}