<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
	<html
	class="no-js"> <!--<![endif]-->
	{% block head %}
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>3alaKifi &mdash; Event Planner</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
			<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
			<meta name="author" content="FREEHTML5.CO"/>

			<!-- 

																																														//////////////////////////////////////////////////////
																																													
																																														FREE HTML5 TEMPLATE 
																																														DESIGNED & DEVELOPED by FREEHTML5.CO
																																															
																																														Website: 		http://freehtml5.co/
																																														Email: 			info@freehtml5.co
																																														Twitter: 		http://twitter.com/fh5co
																																														Facebook: 		https://www.facebook.com/fh5co
																																													
																																														//////////////////////////////////////////////////////
																																														 -->


			<!-- Facebook and Twitter integration -->
			<meta property="og:title" content=""/> <meta property="og:image" content=""/>
			<meta property="og:url" content=""/>
			<meta property="og:site_name" content=""/>
			<meta property="og:description" content=""/>
			<meta name="twitter:title" content=""/>
			<meta name="twitter:image" content=""/>
			<meta name="twitter:url" content=""/>
			<meta name="twitter:card" content=""/>
			{% block stylesheets %}
				<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
				<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

				<link rel="stylesheet" href="{{ asset('fonts/dripicons-v2.ttf') }}">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
				<link
				rel="stylesheet" href="{{ asset('css/AyaCSS.css') }}">


				<!-- Animate.css -->

				<link rel="stylesheet" href="{{ asset('css/animate.css') }}">
				<!-- Icomoon Icon Fonts-->
				<link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
				<!-- Bootstrap  -->
				<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

				<!-- Magnific Popup -->
				<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

				<!-- Owl Carousel  -->
				<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
				<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
				<!-- Theme style  -->
				<link rel="stylesheet" href="{{ asset('css/style.css') }}">
				


			{% endblock %}
			<!-- Modernizr JS -->
			<script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
			<!-- FOR IE9 below -->
			<!--[if lt IE 9]>

																			<script src="js/respond.min.js"></script>
		
																			<![endif]-->
		

		</head>
	{% endblock %}
	<body>

		<div class="fh5co-loader"></div>

		<div id="page">
			{% block nav %}
				<nav class="fh5co-nav" role="navigation">
					<div class="container">
						<div class="row">
							<div class="col-xs-2">
								<div id="fh5co-logo">
									<a href="{{ path('app_home') }}">
										<img src="{{ asset('images/logo2.png') }}" alt="Logo" style="max-height: 125px; width: auto;">
									</a>
								</a>
							</div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active">
									<a href="{{ path('app_home') }}">Home</a>
								</li>
								<li class="{% if app.request.attributes.get('_route') == 'about_us' %}active{% endif %}">
									<a href="{{ path('about_us') }}">Story</a>
								</li>

								<li class="has-dropdown {% if app.request.attributes.get('_route') == 'app_services' %}active{% endif %}">
									<a href="{{ path('app_services') }}">Services</a>

									<ul class="dropdown">
										<li>
											<a href="{{ path('app_events') }}">Events</a>
										</li>
										<li>
											<a href="{{ path('afficheclient') }}">Products</a>
										</li>
										<li class="{% if app.request.attributes.get('_route') == 'app_publication_client' %}active{% endif %}">
											<a href="{{ path('app_publication_client') }}">Forum</a>
										</li>

									</ul>
								</li>
								<li class="has-dropdown {% if app.request.attributes.get('_route') == 'app_gallery' %}active{% endif %}">
									<a href="{{ path('app_gallery') }}">Gallery</a>
								</li>

								<li class="{% if app.request.attributes.get('_route') == 'contact_us' %}active{% endif %}">
									<a href="{{ path('contact_us') }}">Contact</a>
								</li>

								<li class="{% if app.request.attributes.get('_route') == 'contact_us' %}active{% endif %}">
									<a href="{{ path('login') }}" class="btn-signin">Sign in</a>
								</li>


								{% set summary = aya_cart_summary() %}
								<li class="nav-item-cart" id="aya-cart-hover" style="position: relative;">
									<a href="{{ path('aya_cart') }}" style="position: relative;">
										<i class="dripicon-cart" style="font-size: 22px;">Q</i>
										{% if summary.cartProducts is not empty %}
											<span class="aya-cart-badge">{{ summary.cartProducts|length }}</span>
										{% endif %}
									</a>

									<div class="aya-cart-preview">
										{% if summary.cartProducts is not empty %}
											<div class="cart-items-list">
												{% for item in summary.cartProducts %}
													<div class="preview-item">
										{#<img src="data:image/jpeg;base64,{{ item.getProduct().getBase64Image() }}" alt="{{ item.getProduct().getName() }}"style="width: 50px; height: 50px; object-fit: cover; border-radius: 6px;">#}
														<div class="item-info">
															<strong class="product-name">{{ item.getProduct().getName() }}</strong>
															<div class="item-meta">
																x{{ item.getQuantity() }}
																•
																{{ item.getTotalPrice() }}
																TND
															</div>
														</div>
													</div>
												{% endfor %}
											</div>

											<hr class="preview-divider">
											<div class="cart-total">
												<span>Total:</span>
												<strong>{{ summary.total }}
													TND</strong>
											</div>

											<div class="cart-actions">
												<a href="{{ path('aya_cart') }}" class="btn-view-cart">🛒 View Cart</a>
											</div>
										{% else %}
											<div class="preview-empty">
												<img src="{{ asset('images/empty-cart.png') }}" alt="Cart Empty">
												<p>
													<strong>Shopping cart is Empty</strong>
												</p>
												<p class="empty-note">
													Welcome back! If you had items in your cart, we saved them for you.<br>
													<a href="{{ path('login') }}">
														<u>SIGN IN</u>
													</a>
													now to see them.
												</p>
											</div>
										{% endif %}
									</div>

								</li>


							</ul>
						</div>
					</div>

				</div>
			</nav>
		{% endblock %}
		{% block content %}
			<header id="fh5co-header" class="fh5co-cover" role="banner" style="position: relative; height: 100vh; overflow: hidden;">
				<video autoplay muted loop playsinline style="position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; object-fit: cover; z-index: -1;">
					<source src="{{ asset('images/background1.mp4') }}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<div class="display-t">
								<div class="display-tc animate-box" data-animate-effect="fadeIn">
									<h1>Event Planner</h1>
									<h2>Elevate Your Events</h2>
									<div class="simply-countdown simply-countdown-one"></div>
									<p>
										<a href="#" class="btn btn-default btn-sm">Start Now</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- Partie mt3 hello-->
			{# <div id="fh5co-couple">

																															<div class="container">
																																<div class="row">
																																	<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
																																		<h2>Hello!</h2>
																																		<h3>November 28th, 2016 New York, USA</h3>
																																		<p>We invited you to celebrate our wedding</p>
																																	</div>
																																</div>
																																<div class="couple-wrap animate-box">
																																	<div class="couple-half">
																																		<div class="groom">
																																			<img src="images/groom.jpg" alt="groom" class="img-responsive">
																																		</div>
																																		<div class="desc-groom">
																																			<h3>Joefrey Mahusay</h3>
																																			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
																																		</div>
																																	</div>
																																	<p class="heart text-center">
																																		<i class="icon-heart2"></i>
																																	</p>
																																	<div class="couple-half">
																																		<div class="bride">
																																			<img src="images/bride.jpg" alt="groom" class="img-responsive">
																																		</div>
																																		<div class="desc-bride">
																																			<h3>Sheila Mahusay</h3>
																																			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
																																		</div>
																																	</div>
																																</div>
																															</div>
																														</div> #}

			<!-- Partie mte3 ekel cartet hekom -->
			{# <div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.jpg);">
																															<div class="overlay"></div>
																															<div class="container">
																																<div class="row">
																																	<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
																																		<span>Our Special Events</span>
																																		<h2>Wedding Events</h2>
																																	</div>
																																</div>
																																<div class="row">
																																	<div class="display-t">
																																		<div class="display-tc">
																																			<div class="col-md-10 col-md-offset-1">
																																				<div class="col-md-6 col-sm-6 text-center">
																																					<div class="event-wrap animate-box">
																																						<h3>Main Ceremony</h3>
																																						<div class="event-col">
																																							<i class="icon-clock"></i>
																																							<span>4:00 PM</span>
																																							<span>6:00 PM</span>
																																						</div>
																																						<div class="event-col">
																																							<i class="icon-calendar"></i>
																																							<span>Monday 28</span>
																																							<span>November, 2016</span>
																																						</div>
																																						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
																																					</div>
																																				</div>
																																				<div class="col-md-6 col-sm-6 text-center">
																																					<div class="event-wrap animate-box">
																																						<h3>Wedding Party</h3>
																																						<div class="event-col">
																																							<i class="icon-clock"></i>
																																							<span>7:00 PM</span>
																																							<span>12:00 AM</span>
																																						</div>
																																						<div class="event-col">
																																							<i class="icon-calendar"></i>
																																							<span>Monday 28</span>
																																							<span>November, 2016</span>
																																						</div>
																																						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
																																					</div>
																																				</div>
																																			</div>
																																		</div>
																																	</div>
																																</div>
																															</div>
																														</div> #}


				<div id="fh5co-couple-story"> <div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
							<span>We Believe in Beautiful Moments</span>
							<h2>Our Story</h2>
							<p>From a small dream to a powerful tool, 3alakifi grew with us, step by step — and with love.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-md-offset-0">
							<ul class="timeline animate-box">
								<li class="animate-box">
									<div class="timeline-badge" style="background-image:url(images/story-begin.jpg);"></div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<h3 class="timeline-title">The Beginning</h3>
											<span class="date">January 2025</span>
										</div>
										<div class="timeline-body">
											<p>It all started with a shared idea: to create something meaningful for people planning special events. Just five minds, one vision.</p>
										</div>
									</div>
								</li>
								<li class="timeline-inverted animate-box">
									<div class="timeline-badge" style="background-image:url(images/story-grow.jpg);"></div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<h3 class="timeline-title">We Grew</h3>
											<span class="date">February 2025</span>
										</div>
										<div class="timeline-body">
											<p>With each day, 3alakifi evolved — adding more features, more joy, and more soul. It became more than a platform. It became a part of us.</p>
										</div>
									</div>
								</li>
								<li class="animate-box">
									<div class="timeline-badge" style="background-image:url(images/story-launch.jpg);"></div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<h3 class="timeline-title">Ready for the World</h3>
											<span class="date">March 2025</span>
										</div>
										<div class="timeline-body">
											<p>3alakifi is now ready to support your events — weddings, birthdays, surprises — your beautiful moments. Made with love, just for you.</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div id="fh5co-gallery" class="fh5co-section-gray">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
							<span>Our Memories</span>
							<h2>Events Gallery</h2>
							<p>Every picture tells a story — a glimpse of joy, elegance, and the unique magic we craft at each event.</p>
						</div>
					</div>
					<div class="row row-bottom-padded-md">
						<div class="col-md-12">
							<ul id="fh5co-gallery-list">

								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-1.jpg); ">
									<a href="images/gallery-1.jpg">
										<div class="case-studies-summary">
											<span>14 Photos</span>
											<h2>Gaming Event</h2>
										</div>
									</a>
								</li>
								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-2.jpg); ">
									<a href="#" class="color-2">
										<div class="case-studies-summary">
											<span>30 Photos</span>
											<h2>Gender Reveal</h2>
										</div>
									</a>
								</li>


								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-3.jpg); ">
									<a href="#" class="color-3">
										<div class="case-studies-summary">
											<span>90 Photos</span>
											<h2>Wedding Ceremony</h2>
										</div>
									</a>
								</li>
								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-4.jpg); ">
									<a href="#" class="color-4">
										<div class="case-studies-summary">
											<span>12 Photos</span>
											<h2>Business dinner</h2>
										</div>
									</a>
								</li>

								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-5.jpg); ">
									<a href="#" class="color-3">
										<div class="case-studies-summary">
											<span>50 Photos</span>
											<h2>Bride To Be</h2>
										</div>
									</a>
								</li>
								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-6.jpg); ">
									<a href="#" class="color-4">
										<div class="case-studies-summary">
											<span>45 Photos</span>
											<h2>Tohour</h2>
										</div>
									</a>
								</li>

								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-7.jpg); ">
									<a href="#" class="color-4">
										<div class="case-studies-summary">
											<span>35 Photos</span>
											<h2>concert</h2>
										</div>
									</a>
								</li>

								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-8.jpg); ">
									<a href="#" class="color-5">
										<div class="case-studies-summary">
											<span>90 Photos</span>
											<h2>Birthday Party</h2>
										</div>
									</a>
								</li>
								<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-9.jpg); ">
									<a href="#" class="color-6">
										<div class="case-studies-summary">
											<span>56 Photos</span>
											<h2>Graduation</h2>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- hedhi mt3 ekel ar9am eli yet7arkou barcha-->
			{# <div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(images/img_bg_5.jpg);">

																															<div class="overlay"></div>
																															<div class="container">
																																<div class="row">
																																	<div class="display-t">
																																		<div class="display-tc">
																																			<div class="col-md-3 col-sm-6 animate-box">
																																				<div class="feature-center">
																																					<span class="icon">
																																						<i class="icon-users"></i>
																																					</span>
																											
																																					<span class="counter js-counter" data-from="0" data-to="500" data-speed="5000" data-refresh-interval="50">1</span>
																																					<span class="counter-label">Estimated Guest</span>
																											
																																				</div>
																																			</div>
																																			<div class="col-md-3 col-sm-6 animate-box">
																																				<div class="feature-center">
																																					<span class="icon">
																																						<i class="icon-user"></i>
																																					</span>
																											
																																					<span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">1</span>
																																					<span class="counter-label">We Catter</span>
																																				</div>
																																			</div>
																																			<div class="col-md-3 col-sm-6 animate-box">
																																				<div class="feature-center">
																																					<span class="icon">
																																						<i class="icon-calendar"></i>
																																					</span>
																																					<span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
																																					<span class="counter-label">Events Done</span>
																																				</div>
																																			</div>
																																			<div class="col-md-3 col-sm-6 animate-box">
																																				<div class="feature-center">
																																					<span class="icon">
																																						<i class="icon-clock"></i>
																																					</span>
																											
																																					<span class="counter js-counter" data-from="0" data-to="2345" data-speed="5000" data-refresh-interval="50">1</span>
																																					<span class="counter-label">Hours Spent</span>
																											
																																				</div>
																																			</div>
																																		</div>
																																	</div>
																																</div>
																															</div>
																														</div> #}

			<div id="fh5co-testimonial">
				<div class="container">
					<div class="row">
						<div class="row animate-box">
							<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
								<span>Best Wishes</span>
								<h2>Members Wishes</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 animate-box">
								<div class="wrap-testimony">
									<div class="owl-carousel-fullwidth">
										<div class="item">
											<div class="testimony-slide active text-center">
												<figure>
													<img src="images/aya.png" alt="user">
												</figure>
												<span>Aya Ben Fraj, via
													<a href="#" class="twitter">Twitter</a>
												</span>
												<blockquote>
													<p>"May every moment we create bring smiles, connection, and lasting memories to those who experience them."</p>
												</blockquote>
											</div>
										</div>
										<div class="item">
											<div class="testimony-slide active text-center">
												<figure>
													<img src="images/nour.jpg" alt="user">
												</figure>
												<span>Nour Badreddine, via
													<a href="#" class="twitter">Twitter</a>
												</span>
												<blockquote>
													<p>I wish that our events light up hearts the same way they lit up our dreams when we first started.</p>
												</blockquote>
											</div>
										</div>
										<div class="item">
											<div class="testimony-slide active text-center">
												<figure>
													<img src="images/amira.jpg" alt="user">
												</figure>
												<span>Amira Ouechtati via
													<a href="#" class="twitter">Twitter</a>
												</span>
												<blockquote>
													<p>"May the joy we craft become unforgettable chapters in people's lives."</p>
												</blockquote>
											</div>
										</div>
										<div class="item">
											<div class="testimony-slide active text-center">
												<figure>
													<img src="images/dheker.png" alt="user">
												</figure>
												<span>Mohamed Dheker Laadhibi, via
													<a href="#" class="twitter">Twitter</a>
												</span>
												<blockquote>
													<p>"I wish that every celebration we design leaves a sparkle of happiness in someone’s soul."</p>
												</blockquote>
											</div>
										</div>
										<div class="item">
											<div class="testimony-slide active text-center">
												<figure>
													<img src="images/mahdi.png" alt="user">
												</figure>
												<span>Mahdi Gharbi, via
													<a href="#" class="twitter">Twitter</a>
												</span>
												<blockquote>
													<p>"Let our passion speak through every detail, and may each event be a masterpiece of emotion."</p>
												</blockquote>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Ekeli feha el video-->
		{# <div id="fh5co-services" class="fh5co-section-gray">

																						<div class="container">
																		
																							<div class="row animate-box">
																								<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
																									<h2>We Offer Services</h2>
																									<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
																								</div>
																							</div>
																		
																							<div class="row">
																								<div class="col-md-6">
																									<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
																										<span class="icon">
																											<i class="icon-calendar"></i>
																										</span>
																										<div class="feature-copy">
																											<h3>We Organized Events</h3>
																											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
																										</div>
																									</div>
																		
																									<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
																										<span class="icon">
																											<i class="icon-image"></i>
																										</span>
																										<div class="feature-copy">
																											<h3>Photoshoot</h3>
																											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
																										</div>
																									</div>
																		
																									<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
																										<span class="icon">
																											<i class="icon-video"></i>
																										</span>
																										<div class="feature-copy">
																											<h3>Video Editing</h3>
																											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
																										</div>
																									</div>
																		
																								</div>
																		
																								<div class="col-md-6 animate-box">
																									<div class="fh5co-video fh5co-bg" style="background-image: url(images/img_bg_3.jpg); ">
																										<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo">
																											<i class="icon-video2"></i>
																										</a>
																										<div class="overlay"></div>
																									</div>
																								</div>
																							</div>
																		
																		
																						</div>
																					</div> #}

			<!--Ekeli melekher eli ynjm yesta3malha dheker-->
			{# <div id="fh5co-started" class="fh5co-bg" style="background-image:url(images/img_bg_4.jpg);">
																															<div class="overlay"></div>
																															<div class="container">
																																<div class="row animate-box">
																																	<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
																																		<h2>Are You Attending?</h2>
																																		<p>Please Fill-up the form to notify you that you're attending. Thanks.</p>
																																	</div>
																																</div>
																																<div class="row animate-box">
																																	<div class="col-md-10 col-md-offset-1">
																																		<form class="form-inline">
																																			<div class="col-md-4 col-sm-4">
																																				<div class="form-group">
																																					<label for="name" class="sr-only">Name</label>
																																					<input type="name" class="form-control" id="name" placeholder="Name">
																																				</div>
																																			</div>
																																			<div class="col-md-4 col-sm-4">
																																				<div class="form-group">
																																					<label for="email" class="sr-only">Email</label>
																																					<input type="email" class="form-control" id="email" placeholder="Email">
																																				</div>
																																			</div>
																																			<div class="col-md-4 col-sm-4">
																																				<button type="submit" class="btn btn-default btn-block">I am Attending</button>
																																			</div>
																																		</form>
																																	</div>
																																</div>
																															</div>
																														</div> #}



		{% endblock %}
		{% block footer %}
			<footer id="fh5co-footer" role="contentinfo">
				<div class="container">

					<div class="row copyright">
						<div class="col-md-12 text-center">
							<p>
								<small class="block">
									&copy; 2025 3laKifi. All rights reserved.</small>
								<small class="block">Designed by
									<a href="http://freehtml5.co/" target="_blank">hackPack</a>
									Demo Images:
									<a href="http://unsplash.co/" target="_blank">Unsplash</a>
								</small>
							</p>
							<p>
								<ul class="fh5co-social-icons">
									<li>
										<a href="#">
											<i class="icon-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-dribbble"></i>
										</a>
									</li>
								</ul>
							</p>
						</div>
					</div>

				</div>
			</footer>
		{% endblock %}
	</body>
</html></div><div class="gototop js-top">
<a href="#" class="js-gotop">
	<i class="icon-arrow-up"></i>
</a></div>{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<!-- jQuery Easing -->
<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Waypoints -->
<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
<!-- Carousel -->
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<!-- countTo -->
<script src="{{ asset('js/jquery.countTo.js') }}"></script>

<!-- Stellar -->
<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
<!-- Magnific Popup -->
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/magnific-popup-options.js') }}"></script>

<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
<script src="{{ asset('js/simplyCountdown.js') }}"></script>
<!-- Main -->
<script src="{{ asset('js/main.js') }}"></script>
<script>
	var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);

// default example
simplyCountdown('.simply-countdown-one', {
year: d.getFullYear(),
month: d.getMonth() + 1,
day: d.getDate()
});

// jQuery example
$('#simply-countdown-losange').simplyCountdown({
year: d.getFullYear(),
month: d.getMonth() + 1,
day: d.getDate(),
enableUtc: false
});
</script>{% endblock %}</body></html>
