{% extends 'base.html.twig' %}
{% block nav %}
				<nav class="fh5co-nav" role="navigation">
					<div class="container">
						<div class="row">
							<div class="col-xs-2">
								<div id="fh5co-logo">
									<a href="{{ path('app_home') }}">
										<img src="{{ asset('images/logo2.png') }}" alt="Logo" style="max-height: 125px; width: auto;">
									</a>
								</a>
							</div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active">
									<a href="{{ path('app_home') }}" class="btn-signin">Home</a>
								</li>
								<li class="{% if app.request.attributes.get('_route') == 'about_us' %}active{% endif %}">
									<a href="{{ path('about_us') }}" class="btn-signin">Story</a>
								</li>

								<li class="has-dropdown {% if app.request.attributes.get('_route') == 'app_services' %}active{% endif %}">
									<a href="{{ path('app_services') }}" class="btn-signin">Services</a>

									<ul class="dropdown">
										<li>
											<a href="#" >Events</a>
										</li>
										<li>
											<a href="#">Products</a>
										</li>
										<li>
											<a href="#">Forum</a>
										</li>
									</ul>
								</li>
								<li class="has-dropdown {% if app.request.attributes.get('_route') == 'app_gallery' %}active{% endif %}">
									<a href="{{ path('app_gallery') }}" class="btn-signin">Gallery</a>
								</li>

								<li class="{% if app.request.attributes.get('_route') == 'contact_us' %}active{% endif %}">
									<a href="{{ path('contact_us') }}" class="btn-signin">Contact</a>
								</li>
								
								<li class="{% if app.request.attributes.get('_route') == 'contact_us' %}active{% endif %}">
									<a href="{{ path('contact_us') }}" class="btn-signin">Sign in</a>
								</li>
								<li class="{% if app.request.attributes.get('_route') == 'contact_us' %}active{% endif %}">
									<a href="{{ path('contact_us') }}" class="dripicon-cart btn-signin">Q</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</nav>
		{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 120px;">
        <h1 class="text-center">Events Page</h1>
        <p class="text-center">You can now create your events here freely.</p>
        {# Tu peux supprimer tout ça après et mettre ton vrai contenu ici #}
    </div>
{% endblock %}