<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link
		rel="stylesheet" href="{{ asset('fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{{ asset('css/cssd/styleh.css') }}">
		<style>
			/* Ajouter une marge autour du formulaire */
			.login-form {
				margin: 50px;
			}

			/* Changer la couleur des liens en beige */
			.forgot-pass a,
			.signup a {
				color: #d6d0b8;
			}

			.signup {
				margin-top: 10px;
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div class="wrapper" style="background-image: url('{{ asset('img/output-onlinepngtools.png') }}');">
			<div class="inner">
				<div class="image-holder">
					<img src="{{ asset('img/sig.png') }}" height="490px">
				</div>

				<!-- Intégration du formulaire Symfony ici -->
				<form class="login-form" {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
                    <h3>bienvenue a 3ala Kifi
					</h3>


					{{ form_row(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control'}}) }}

					{{ form_row(form.password, {'attr': {'placeholder': 'Password', 'class': 'form-control'}}) }}
					<div class="forgot-pass">
						<a href="#">mot de passe oublié ?</a>
					</div>
					{{ form_row(form.submit, {'attr': {'class': 'button'}}) }}

					<div class="signup">
						Pas encore membre ?
						<a href="{{ path('user_register') }}">Inscrivez-vous maintenant</a>
					</div>
					{{ form_end(form) }}

				</form>
				<!-- Fin du formulaire Symfony -->
			</div>
		</div>
	</body>
</html>
